body {
    color: #333333; /*Cor das letras em geral*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /*Fonte das letras em geral*/
    margin-left: auto; /*Margem esquerda automática*/
    margin-right: auto; /*Margem direita automática*/
    width: 940px; /*Largura em pixels*/
}
h1 { 
    background-image: url(sobre_background.jpg); /*Imagem de fundo*/
    padding: 10px; /*Preenchimento em pixels*/
} 
h2 { 
    border-bottom: 2px solid #333333; /*Borda solida abaixo do texto*/
    margin-top: 30px; /*Margem ao topo*/
}
p {
    padding: 0 45px; /*Preenchimento tanto acima quanto abaixo*/
    text-indent: 15px; /*Recuo no início do texto*/
}
figure { 
    background-color: #F2EDED; /*Cor de fundo das fotos*/
    border: 1px solid #ccc; /*Borda das figuras*/
    text-align: center; /*Alinhamento do texto*/
    padding: 15px; /*Preenchimento*/
    margin: 30px; /*Margem*/
} 
figcaption { 
    font-style: italic; /*Tipo de texto da figura*/
    margin-top: 10px; /*Margem ao topo*/
}